<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Registration</title>
  </head>
  <body>
    <div class="container">
      <h1>Registration</h1>
      <form action="/api/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
